# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

build/
bin/
gen/
tmp/
.idea/
.gradle/
.settings/
.externalToolBuilders/
out/
proguard/

dump.txt
seeds.txt
usage.txt

.metadata
.classpath
.loadpath
.cproject
.buildpath
.project
.DS_Store
local.properties

build.gradle
gradle.properties
settings.gradle
proguard-rules.pro

gradlew
gradlew.bat

*.iml
*.apk
*.ap_
*.dex
*.class
*.pydevproject
*.tmp
*.bak
*.swp
*~.nib
*.launch
